html {
  font-family: "Helvetica", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  font-size: 3rem;
}

.App {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #09d3ac;
}

.counter {
  margin: 14px 0;
}

.counter__value {
  font-size: 4rem;
}

.ui.segment .counter__name {
  font-size: 1.4rem;
  line-height: 1.4;
}

.counter__value {
  margin-bottom: 14px;
}